[flake8]
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    examples,
    tests/data_parallel,
    tests/output_parallel,
    tests/output_parallel_verify
max-line-length = 100
max-complexity = 10
